<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        <% chartHash = {}%>
        <% num = 0%>
        <% 30.times do
            num = num + 1
            chartHash[num] = [0,0]
         end %>
        <% @moods.each do |mood|%>
          <% time = Time.parse(mood['time'])
          if mood['mood'] == '1'
            chartHash[time.day] = [chartHash[time.day][0]+1,chartHash[time.day][1]]
          else
            chartHash[time.day] = [chartHash[time.day][0],chartHash[time.day][1]+1]
          end%>
        <% end%>

        <%charts = chartHash.to_a%>
        <%chart_data = [['Time', 'Positive', 'Negative']]%>

        <%charts.each do |chart|
          chart_data << [chart[0],chart[1][0],chart[1][1]]
        end%>


        var data = google.visualization.arrayToDataTable(<%=chart_data%>);


        var options = {
          title: 'My Mood in September'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
