<div class="row" id="box">
  <div class="large-10 large-centered columns">
    <form action="/monolog" method = "post">
    <textarea name = "status" >What's on your mind?</textarea><button class="tiny button right" name="negative">negative</button><button class="tiny button right" name = "positive">positive</button><p class="text-right">I am feeling&nbsp</p>
  </form>
  </div>
</div>

<div class="row">
  <div class = "large-10 large-centered columns">
    <article>
      <% @status.each do |status|%>
      <h6 id='time'><%= status['time']%></h6>
      <p>  <%= status['content']%> </P>
      <hr/>
      <%end%>
    </article>
  </div>
</div>

