<div class="fixed" id="top_bar">
  <div class = "panel">
    <div class="row">
      <div class="large-10 large-centered columns">
        <div class="nav-bar right">
            <a href="/monolog/mood_analyzer?year=<%=@time.year%>&month=<%=@time.month%>">
            <button>Mood Analyzer</button></a>
          </div>
        <h1><a href="/monolog">Monolog</a></h1>
      </div>
    </div>
  </div>
</div>


<div class="row" id="box">
  <div class="large-10 large-centered columns">
    <form action="/monolog" method = "post">
    <textarea name = "status" placeholder="What's on your mind?" rows='3'></textarea><button class="tiny button right" name="negative">negative</button><button class="tiny button right" name = "positive">positive</button><p class="text-right">I am feeling&nbsp</p>
  </form>
  </div>
</div>


<div class="row">

  <div class = "large-10 large-centered columns">
    <div class= 'select_mood'>
      <a href="/monolog/positive">Good Moments In My Life</a>
    </div>
<!--
    <form method="get" action = "/monolog">
      <input class= 'button' type="submit" value="Show All" />
    </form> -->
  </div>
</div>

<div class='row'>
  <div class = "large-10 large-centered columns">
    <article>
      <% @status.each do |status|%>
      <% time = Time.parse(status['time'])%>
      <h6><%= time.strftime("%b %d, %Y %I:%M%P")%></h6>
      <p>  <%= status['content']%> </P>
      <hr/>
      <%end%>
    </article>
  </div>
</div>

