<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
    <html>
    <head>
<!--       <META HTTP-EQUIV="refresh" CONTENT="4"> -->
      <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
      <title>Word Cloud</title>
    <style>
    h1 {text-align:left; padding-left:8ex; padding-top:1ex; padding-bottom:1ex; margin-right:20ex; color:#ff69b4; border:2px solid red;}
    </style>
    </head>
    <body>
    <script src="/js/d3.js"></script>
    <script src="/js/d3.layout.cloud.js"></script>
    <script>
    var fill = d3.scale.category20();

    d3.layout.cloud().size([550, 550])
      .words(["",""].map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

    function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 550)
        .attr("height", 550)
      .append("g")
        .attr("transform", "translate(275,275)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
    }
    </script>
    <h1>Subject: Jan42014</h1>
    </body>
    </html>

