<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        <% chartHash = {}%>
        <% num = 0%>

        <% month = 9
            year = 2014%>
        <% if month == 2 && Date.gregorian_leap?(year)
              numDaysInMonth = 29
            else
              numDaysInMonth = [nil, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month]
            end
        %>
        <% numDaysInMonth.times do
            num = num + 1
            #[num of positive comments, num of negative comments]
            chartHash[num] = [0,0]
         end %>
        <% @moods.each do |mood|%>
          <% time = Time.parse(mood['time'])
          if mood['mood'] == '1'
            chartHash[time.day] = [chartHash[time.day][0]+1,chartHash[time.day][1]]
          else
            chartHash[time.day] = [chartHash[time.day][0],chartHash[time.day][1]+1]
          end%>
        <% end%>

        <%charts = chartHash.to_a%>
        <%chart_data = [['Time', 'Positive', 'Negative']]%>

        <%charts.each do |chart|
          chart_data << [chart[0],chart[1][0],chart[1][1]]
        end%>


        var data = google.visualization.arrayToDataTable(<%=chart_data%>);


        var options = {
          title: "My Mood in "
          ,vAxis: { title: "Number of journal entries" }
          ,hAxis: { title: "Day of the month"
                    ,ticks: [1,7,14,21,28]}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <p align="center">My mood in <%=["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][month] + ", " +  year.to_s%>  </p>
    <button type="button">Previous Month</button>
    <button type="button">Next Month</button>
    <button type="button">Year View</button>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>

