.panel{
  background-color: white;
  opacity: 0.80;
  filter: alpha(opacity=30);
}

body{
  font-family: Arial;
  color: #1e1645;
  /*background-color:#1e1645;
  color: white;*/
}

#header-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*body div div h1{
  margin-top: 40px;
  margin-bottom: 80px;
}
*/
h1 a{
  color:#1e1645;
  font-family: Verdana;
}

#box{
  margin-top:200px;
}

footer{
  background-color: white;;
  padding: 40px;
}

button, .button{
  background-color: white;
  color: #1e1645;
  border:1px #1e1645 solid;
  text-align: center;
}

.select_mood a{
  padding: 10px;
  color: white;
  background-color:lightblue;
  font-style: italic;
 /* margin-left: -10px;*/
}

.select_mood a:hover{
  padding: 10px;
  color: lightblue;
  font-style: italic;
  background-color:white;
  margin-left: -10px;
}

.select_mood{
  margin-bottom: 20px;
 /* margin-left: -10px;*/
}

button:hover, .button:hover{
  background-color: #1e1645;
  color: white;
  border:1px solid;
}
