.panel{
  background-color: white;
  opacity: 0.80;
  filter: alpha(opacity=30);
}

body{
  font-family: Arial;
  color: #1e1645;

}

#word_cloud{
  display:inline;
}

#header-row {
  margin-top: 40px;
  margin-bottom: 40px;
}


h1 a{
  color:#1e1645;
  font-family: Verdana;
}

#box{
  margin-top:100px;
}

#myCanvas{
  margin-top: -12px;
}

footer{
  background-color: white;;
  padding: 40px;
}

button, .button{
  background-color: white;
  color: #1e1645;
  border:1px #1e1645 solid;
  text-align: center;
}

.select_mood a{
  padding: 10px;
  color: white;
  background-color:#FF7E6F;
  font-style: italic;
}

.select_mood a:hover{
  padding: 10px;
  color: tomato;
  font-style: italic;
  background-color:white;
  margin-left: -10px;
}

.select_mood{
  margin-bottom: 20px;
}

button:hover, .button:hover{
  background-color: #1e1645;
  color: white;
  border:1px solid;
}

.monolog:hover{
  color:lightblue;
}

.word-cloud {
  display: block;
  margin: 0 auto;
}
